svg.progress {
  width: 100%;
  height: 1em;
}
svg.progress text {
  color: var(--base07);
  font-size: 1em;
}
div.node-card {
  background-color: var(--base07);
  border: 1px solid var(--base04);
  padding: 4px;
}
